@{
    ViewData["Title"] = "SP Express";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuMain");
    }
}
@section Footer {
    @{
        await Html.RenderPartialAsync("_Footer");
    }
}
<section class="sec" id="home">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-lg-6 col-sm-12 col-10 text-center justify-content-start">
                <h1 class="text-uppercase">Доставка в срок, доставка в удовольствие</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ex ducimus, iusto enim amet qui magni
                    itaque
                    quo
                    voluptatem reprehenderit officia eaque. Cumque ipsa ducimus possimus quibusdam temporibus suscipit
                    non
                    nostrum ex eveniet nulla laboriosam corrupti optio, provident molestias nesciunt eligendi vero. Non,
                    illo
                    corrupti!</p>
            </div>
            <div class="col-lg-6 col-sm-12 col-10 justify-content-end">
                <img src="../img/woman.png" alt="" class="img_fluid">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-12">
                <h2 class="text-uppercase">Нам доверяют</h2>
            </div>
        </div>
        <div class="row justify-content-around align-items-center mt-3">
            <div class="col-lg-2 col-6">
                <img src="../img/Yandex_logo_2021_Russian.svg.png" alt="Яндекс" class=" img-fluid cl_card">
            </div>
            <div class="col-lg-2 col-6">
                <img src="../img/KPMG_logo.svg.png" alt="KPMG" class=" img-fluid cl_card">
            </div>
            <div class="col-lg-2 col-6">
                <img src="~/img/РусГидро.png" alt="РусГидро" class=" img-fluid cl_card">
            </div>
            <div class="col-lg-2 col-6">
                <img src="~/img/Logo_mega.gif" alt="МЕГА" class=" img-fluid cl_card">
            </div>
        </div>
    </div>
</section>

<div class="orange1 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <img class="img-fluid no" src="~/img/truck 1920X1080.png" alt="" />
        </div>
    </div>
</div>
<section class="sec" id="calc">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase">Экспресс-расчет</h2>
            </div>
        </div>
        <form action="">
            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <p class="">Расчитайте стоимость доставки посылки до пункта назначения</p>

                    <div class="form-group vmp_form-group form_box_agm_top">
                        <label for="adressEx" class="text-uppercase form-label">Адрес доставки</label>
                        <input type="text" id="adressEx" class="field no-border form-input">
                    </div>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="form-group vmp_form-group form_box_agm_top">
                        <label for="weightEx" class="text-uppercase form-label">Вес</label>
                        <input type="number" id="weightEx" class="field no-border form-input">
                    </div>

                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 m-3">
                    <button href="" class="btn btn-outline-primary btn-lg">Расчитать
                        ></button>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="blue1 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <img class="img-fluid no" src="~/img/air 1920X1080.png" alt="" />
        </div>
    </div>
</div>
<section class="sec" id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase">Услуги</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center m-4">
            <div class="col-sm-1 col-3">
                <img src="~/img/expr24.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-9 col-sm-9 col-8">
                <h3>Экспресс</h3>
                <p>Быстрая доставка документов по Москве и Московской области за 2, 6 или 24 часа.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center m-4">
            <div class="col-lg-5 col-md-9 col-sm-9 col-8">
                <h3>Стандарт</h3>
                <p>Экономичная доставка документов и небольших грузов по Москве и Московской области. Не срочная
                    доставка
                    для важных документов. </p>
            </div>
            <div class="col-sm-1 col-3">
                <img src="../img/expr24.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center align-items-center m-4">
            <div class="col-sm-1 col-3">
                <img src="../img/expr24.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 col-md-9 col-sm-9 col-8">
                <h3>АГМ</h3>
                <p>Персональный грузовой автомобиль только для вашего груза. Индивидуальная доставка вашего груза
                    грузовыми
                    автомобилями от 0,5 до 20 тонн.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center m-4">
            <div class="col-lg-5 col-md-9 col-sm-9 col-8">
                <h3>Логистические услуги</h3>
                <p>Полный комплекс услуг по обработке заказов. SPExpress оказывает полный спектр услуг по складской
                    обработке и хранению грузов. </p>
            </div>
            <div class="col-sm-1 col-3">
                <img src="../img/expr24.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-outline-primary btn-lg" asp-action="Services_main" asp-controller="Home">Подробнее ></a>
            </div>
        </div>
    </div>
</section>
<div class="orange1 mx-auto">
    <div class="row text-center">
        <div class="col-12">
            <img class="img-fluid no" src="../img/train1 1920X1080.png" alt="" />
        </div>
    </div>
</div>
<section class="sec" id="tracking">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase">Отслеживание посылки</h1>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col-lg-4 col-md-8 col-sm-12">
                <p class="">Отследите свою посылку по номеру накладной</p>
            </div>
        </div>

        <form action="#">
            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="form-group vmp_form-group form_box_agm_top">
                        <label for="invoiceNum" class="text-uppercase form-label">Введите номер накладной</label>
                        <input type="number" id="invoiceNum" class="field no-border form-input">
                    </div>

                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 m-3">
                    <button href="" class="btn btn-outline-primary btn-lg">Расчитать
                        ></button>
                </div>
            </div>
        </form>


    </div>
</section>
<div class="blue1">
    <div class="row text-center">
        <div class="col-12">
            <img class="img-fluid no" src="../img/ship 1920X1080.png" alt="" />
        </div>
    </div>
</div>
<section class="sec" id="contacts">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-4">
                <h2 class="text-uppercase">Контакты</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
            <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3Aff1efe482602217d233c4d2d890b7c26f18b4d0097b203528eab7b32b5a9b91c&amp;source=constructor"
                width="100%" height="400" frameborder="0"></iframe>
            <div class="col-lg-3 col-sm-10 mt-4">
                <h3>Адрес:</h3>
                <p>Москва, Загородное шоссе, 1к2</p>
            </div>
            <div class="col-lg-3 col-sm-10 mt-4">
                <h3>Телефон:</h3>
                <p>+7-499-678-50-00</p>
            </div>
            <div class="col-lg-3 col-sm-10 mt-4">
                <h3>Электронная почта:</h3>
                <p>info@spexpress.ru</p>
            </div>
        </div>
    </div>
</section>
