<div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-7 py-2">
                        <form action="">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="hp" checked>
                            <label class="form-check-label" for="hp">
                                HP
                            </label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="hpPrior">
                            <label class="form-check-label" for="hpPrior">
                                HP. (приор)
                            </label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="hpPrior1">
                            <label class="form-check-label" for="hpPrior1">
                                HP. (приор)
                            </label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="hpPriorImp">
                            <label class="form-check-label" for="hpPriorImp">
                                HP. (важно)
                            </label>
                        </form>
                    </div>


                    <div class="col-5 py-2">
                        <form action="">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="2">
                            <label class="form-check-label" for="2">2</label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="6">
                            <label class="form-check-label" for="6">6</label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="24">
                            <label class="form-check-label" for="24">24</label>

                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="П">
                            <label class="form-check-label" for="П">П</label>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <form action="">
                            <label class="form-check-label text-uppercase form-label" for="Econom">Эконом</label>
                            <input type="checkbox" class="form-check-input form-input" id="Econom">
                        </form>
                    </div>
                    <div class="col-4">
                        <form action="">
                            <label class="form-check-label text-uppercase form-label" for="weight">Вес</label>
                            <select name="service" id="weight" class="mb-1">
                                <option selected></option>
                                <option>=</option>
                                <option>></option>
                                <option>
                                    <</option>
                            </select>
                            <input type="number" id="weight" class="" style="width: 50px;">
                        </form>
                    </div>
                    <div class="col-4">
                        <form action="">
                            <label class="form-check-label text-uppercase form-label" for="Zone">Зона</label>
                            <input type="number" id="zone" class="" style="width: 100px;">
                        </form>
                    </div>
                </div>

                <div class="col-12" style="height: 88vh; overflow-y: scroll;">
                    <table style="width: 100%;">
                        <tr>
                            <th width="10%">Пакет</th>
                            <th width="20%">Получатель</th>
                            <th width="50%">Адрес</th>
                            <th width="10%">Маршрут</th>
                            <th width="10%">Вес</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-1">
                <div class="row gy-1">
                <div class="col-12">
                    <button class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                        </svg>
                    </button>
                </div>
                <div class="col-12 mb-5">
                    <button class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z" />
                        </svg>
                    </button>
                </div>
                <div class="col-12 mt-5">
                    <button class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg>
                    </button>
                </div>
                <div class="col-12">
                    <button class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
                        </svg>
                    </button>
                </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 py-2">
                <div class="row" style="align-items: flex-end;">
                    <div class="col-1">
                        <button class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                        </button>
                    </div>
                    <div class="col-5">
                        <h5>Манифест</h5>
                    </div>
                    <div class="col-3">
                        <label class="form-check-label text-uppercase form-label" for="weight">Вес</label>
                        <input type="number" id="weight" class="" style="width: 100%">
                    </div>
                    <div class="col-3">
                        <label class="form-check-label text-uppercase form-label" for="client">С клиента</label>
                        <input type="number" id="client" class="" style="width: 100%">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 py-2"><button class="btn btn-outline-primary">Изменить курьера</button></div>
                    <div class="col-4 py-2"><button class="btn btn-outline-primary">Подобрать адреса</button></div>
                    <div class="col-4 py-2"><button class="btn btn-outline-primary">Распечатать манифест</button></div>
                </div>
                <div class="row">
                    <div class="col-12" style="height: 45vh; overflow-y: scroll;">
                        <table style="width: 100%;">
                            <tr>
                                <th width="5%"></th>
                                <th width="10%">Пакет</th>
                                <th width="15%">Клиент</th>
                                <th width="50%">Адрес</th>
                                <th width="10%">Маршрут</th>
                                <th width="10%">Вес</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" style="align-items: flex-end;">
                    <div class="col-3 pb-2">
                        <label class="form-check-label text-uppercase form-label" for="manif">Маниф</label>
                        <input type="number" id="manif" class="" style="width: 100%">
                    </div>
                    <div class="col-3 pb-2"><button class="btn btn-outline-primary">Печать выбранных маниф</button>
                    </div>
                    <div class="col-3 pb-2"><input type="date" class="" style="width: 100%"></div>
                    <div class="col-3 pb-2"><button class="btn btn-outline-primary">Распечатать</button></div>
                </div>
                <div class="row">
                    <div class="col-12" style="height: 27vh; overflow-y: scroll;">
                        <table style="width: 100%;">
                            <tr>
                                <th width="5%"></th>
                                <th width="10%">Маниф</th>
                                <th width="15%">Дата</th>
                                <th width="35%">Курьер</th>
                                <th width="25%"></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>