<div class="bg_gard">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="text-uppercase welcome">Договор</h2>
                </div>
            </div>

        </div>
    </div>
    <div class="container" id="agmOnly">
        <form action="" class="justify-content-center col-12 mx-auto">
            <div class="row">
                <div class="col-lg-5 col-12">
                    <div class="col-12">
                        <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                            <div class="col-12">
                                <h3 class="text-center">Компания</h3>
                            </div>

                            <div class="col-6">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="ourCompany" class="text-uppercase form-label">Наша компания</label>
                                    <input type="text" id="ourCompany" class="field no-border form-input">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="contractNum" class="text-uppercase form-label">Номер договора</label>
                                    <input type="text" id="contractNum" class="field no-border form-input">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="companyName" class="text-uppercase form-label">Название компании</label>
                                    <input type="text" id="companyName" class="field no-border form-input">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="officialName" class="text-uppercase form-label">Официальное
                                        Название</label>
                                    <input type="text" id="officialName" class="field no-border form-input">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="loadTime" class="text-uppercase form-label">Телефон</label>
                                    <input type="tel" id="loadTime" class="field no-border form-input tel"
                                        placeholder="+7 (964) 550 6472">
                                </div>
                            </div>
                        </div>


                        <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                            <div class="col-12">
                                <h3 class="text-center">Адреса</h3>
                            </div>

                            <div class="col-12">
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="fact" class="text-uppercase form-label">Фактический</label>
                                    <input type="text" id="fact" class="field no-border form-input"
                                        placeholder="Ломоносовский пр-кт, д15">
                                </div>
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="jur" class="text-uppercase form-label">Юридический</label>
                                    <input type="text" id="jur" class="field no-border form-input"
                                        placeholder="Ломоносовский пр-кт, д15">
                                </div>
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="bill" class="text-uppercase form-label">Дост. счета</label>
                                    <input type="text" id="bill" class="field no-border form-input"
                                        placeholder="Ломоносовский пр-кт, д15">
                                </div>
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="postAddress" class="text-uppercase form-label">Почтовый</label>
                                    <input type="text" id="postAddress" class="field no-border form-input"
                                        placeholder="Ломоносовский пр-кт, д15">
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                            <div class="row align-items-center mt-4">
                                <div class="col-12">
                                    <h3 class="text-center">Реквизиты</h3>
                                </div>
                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="inn" class="text-uppercase form-label">ИНН</label>
                                        <input type="number" id="inn" class="field no-border form-input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="kpp" class="text-uppercase form-label">КПП</label>
                                        <input type="number" id="kpp" class="field no-border form-input">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="okved" class="text-uppercase form-label">ОКВЭД</label>
                                        <input type="number" id="okved" class="field no-border form-input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="okato" class="text-uppercase form-label">ОКАТО</label>
                                        <input type="number" id="okato" class="field no-border form-input">
                                    </div>
                                </div>

                                <div class="col-6 mb-5">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="okpo" class="text-uppercase form-label">ОКПО</label>
                                        <input type="number" id="okpo" class="field no-border form-input">
                                    </div>
                                </div>
                                <div class="col-6 mb-5">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="ogrn" class="text-uppercase form-label">ОГРН</label>
                                        <input type="number" id="ogrn" class="field no-border form-input">
                                    </div>
                                </div>


                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="bankName" class="text-uppercase form-label">Банк</label>
                                    <input type="text" id="bankName" class="field no-border form-input">
                                </div>
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="bankAddress" class="text-uppercase form-label">Адрес банка</label>
                                    <input type="text" id="bankAddress" class="field no-border form-input">
                                </div>
                                <div class="form-group vmp_form-group form_box_agm_top">
                                    <label for="bik" class="text-uppercase form-label">Бик</label>
                                    <input type="number" id="bik" class="field no-border form-input">
                                </div>
                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="ps" class="text-uppercase form-label">р/с</label>
                                        <input type="number" id="ps" class="field no-border form-input">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="ks" class="text-uppercase form-label">к/с</label>
                                        <input type="number" id="ks" class="field no-border form-input">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group vmp_form-group">
                                        <label for="base" class="text-uppercase form-label">На основании:</label>
                                        <br><select name="service" id="base" class="mb-1">
                                            <option selected>Устава</option>
                                            <option>Доверенности</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div id="timeOfDelivery" class="col-12">
                                        <label for="numOfDoc" class="text-uppercase form-label1">Если доверенности, то
                                            ее
                                            №</label>
                                        <input type="number" id="numOfDoc" class="no-border form-input">
                                        <label for="from" class="text-uppercase form-label1">От</label>
                                        <input type="date" id="from" class="no-border form-input">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="chief" class="text-uppercase form-label">Ген. директор</label>
                                        <input type="text" id="chief" class="field no-border form-input">
                                    </div>
                                    <div class="form-group vmp_form-group form_box_agm_top">
                                        <label for="accountant" class="text-uppercase form-label">Бухгалтер</label>
                                        <input type="text" id="accountant" class="field no-border form-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            <div class="col-lg-7 col-12">
                <div class="col-12">
                    <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                        <div class="col-12">
                            <h3 class="text-center">Cкидки</h3>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-6">
                                <h4>Скидки задаются в процентах</h4>
                            </div>
                            <div class="col-6 text-end"><button class="btn btn-lg btn-outline-danger">Удалить все
                                скидки</button></div>
                        </div>
                        <div class="form-group vmp_form-group form_box_agm_top">
                            <label for="sale" class="text-uppercase form-label">Скидка в процентах</label>
                            <input type="number" id="sale" class="field no-border form-input">
                        </div>
                        <div class="row gx-0 m-3 justify-content-center text-center">
                            <div class="col-3">
                                <button class="btn btn-lg btn-outline-primary">Москва</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-lg btn-outline-primary">МО</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-lg btn-outline-primary">Россия</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-lg btn-outline-primary">Мир</button>
                            </div>
                        </div>
                    </div>

                    <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                        <div class="col-12" style=" height: 600px; overflow-y: scroll;">


                        </div>
                    </div>

                    <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
                        <div class="row justify-content-center text-center">
                            <div class="col-5">
                                <label class="form-check-label text-uppercase form-label" for="readdressSale">Скидка при
                                    переадресации</label>
                                <input type="checkbox" class="form-check-input form-input" id="readdressSale">
                            </div>
                            <div class="col-7">
                                <label class="form-check-label text-uppercase form-label" for="tarif">Тарифный план</label>
                                <select name="service" id="tarif" class="mb-1">
                                    <option selected>Стандарт 2016</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center text-center">
                            <div class="col-5">
                                <label class="form-check-label text-uppercase form-label" for="isActual">Действующий договор</label>
                                <input type="checkbox" class="form-check-input form-input" id="isActual">
                            </div>
                            <div class="col-7">
                                <div class="col-12">
                                    <label for="unpresentFrom" class="text-uppercase form-label">Если не Действующий, то
                                        с: </label>
                                    <input type="date" id="unpresentFrom" class="no-border form-input">
                                </div>
                            </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-5">
                                    <label class="form-check-label text-uppercase form-label" for="callAccountant">Звонить бухгалтеру</label>
                                    <input type="checkbox" class="form-check-input form-input" id="callAccountant">
                                </div>
                                <div class="col-7">
                                    <div class="col-12">
                                        <label for="unpresentFrom" class="text-uppercase form-label">Причина звонка</label>
                                        <input type="text" id="unpresentFrom" class="no-border form-input">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        <div class="row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary btn-lg m-5">Сохранить</button>
            </div>
        </div>
    </div>