@{
    ViewData["Title"] = "Рабочее пространство";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuManagerLk");
    }
}

@section Footer {
    @{
        await Html.RenderPartialAsync("_Footer");
    }
}

<div class="bg_gard">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase welcome">Рабочее пространство</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center text-center my-5 gy-5">
        <div class="col-lg-4 col-md-6 col-sm-10 card_size">
            <a asp-controller="ManagerLkPages" asp-action="Contract" class="btn p-4 card_wrapper_signin">
                <div class="row justify-content-center align-items-center">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                            <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                    </div>
                    <div class="col-7">
                        <h3>Создать договор</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 card_size">
            <a asp-controller="ManagerLkPages" asp-action="Assignment" class="btn p-4 card_wrapper_signin">
                <div class="row justify-content-center align-items-center">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                        </svg>
                    </div>
                    <div class="col-7">
                        <h3>Распределение пакетов</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 card_size">
            <a asp-controller="ManagerLkPages" asp-action="CompaniesAddresses" class="btn p-4 card_wrapper_signin">
                <div class="row justify-content-center align-items-center">
                    <div class="col-3">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                        </svg>
                    </div>
                    <div class="col-7">
                        <h3>Адреса компаний</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>