@model LoginViewModel


@{
    ViewData["Title"] = "Вход";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuMainLog");
    }
}


@section Footer {
@{
await Html.RenderPartialAsync("_Footer");
}
}

<div class="bg_gard">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="text-uppercase welcome">Вход или регистрация</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-11 all_border m-5" style="border-radius: 15px;">
                <form asp-action="Login" asp-controller="Account" method="post" asp-antiforgery="true">
                    <div class="row text-center">
                        <div class="col-12 mt-3">
                            <h2 class="text-uppercase">Вход</h2></div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="email" class="text-uppercase form-label">E-mail</label>
                                <input asp-for="Email" type="email" id="email" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="password" class="text-uppercase form-label">Пароль</label>
                                <input asp-for="Password" type="password" id="password" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    
                    <div class="validation text-danger mt-2" asp-validation-summary="ModelOnly"></div>
                    
                    <div class="row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary btn-lg m-3">Войти</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12"><h4 class="text-uppercase">Или</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center mb-3">
                            <a asp-action="Register" asp-controller="Account" class="signIn_link text-uppercase">Регистрация</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
