@{
    ViewData["Title"] = "Регистрация";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuMainLog");
    }
}
@section Footer {
@{
await Html.RenderPartialAsync("_Footer");
}
}

<div class="bg_gard">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="text-uppercase welcome">Регистрация</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-11 all_border m-5" style="border-radius: 15px;">
                <div class="row text-center">
                    <div class="col-12 mt-3">
                        <h2 class="text-uppercase">Зарегистрироваться как</h2>
                    </div>
                </div>


                <div class="row justify-content-center" id="regChoice">
                    <div class="col-lg-5 col-8 my-4">
                        <a asp-action="SignInInd" asp-controller="Account" id="individualBtn" class="btn p-4 card_wrapper_signin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor"
                                class="bi bi-person" viewBox="0 0 16 16">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                            </svg>
                            <h3>Физическое лицо</h3>
                        </a>
                    </div>
                    <div class="col-lg-5 col-8 my-4">
                        <a asp-action="SignInLegal" asp-controller="Account" id="legalBtn" class="btn p-4 card_wrapper_signin">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" fill="currentColor"
                                class="bi bi-building" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path
                                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg>
                            <h3>Юридическое лицо</h3>
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </div>