@{
    ViewData["Title"] = "Регистрация";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu_Main {
@{
await Html.RenderPartialAsync("_MenuMainLog");
}
}
@section Footer {
@{
await Html.RenderPartialAsync("_Footer");
}
}

<div class="bg_gard">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase welcome">Регистрация</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-9 col-11 all_border m-5" style="border-radius: 15px;">
            <div class="row text-center">
                <div class="col-12 mt-3">
                    <h2 class="text-uppercase">Зарегистрироваться как</h2>
                </div>
            </div>





            <div class="row justify-content-center" id="legal">
                <form action="">
                    <div class="row text-center">
                        <div class="col-12 my-3">
                            <h2 class="text-uppercase">Юридическое лицо</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11 mt-3">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="emailReg" class="text-uppercase form-label">E-mail</label>
                                <input type="email" id="emailReg" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="regComponyName" class="text-uppercase form-label">Название компании</label>
                                <input type="text" id="regComponyName" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="regINN" class="text-uppercase form-label">ИНН</label>
                                <input type="number" id="regINN" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="regKPP" class="text-uppercase form-label">КПП</label>
                                <input type="number" id="regKPP" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="regFactAd" class="text-uppercase form-label">Фактический адрес</label>
                                <input type="text" id="regFactAd" class="field no-border form-input">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11 mb-4">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="regJurAd" class="text-uppercase form-label">Юридический адрес</label>
                                <input type="text" id="regJurAd" class="field no-border form-input">
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary btn-lg m-3">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>