@model RegisterViewModel



@{
    ViewData["Title"] = "Регистрация";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuMainLog");
    }
}

@section Footer {
    @{
        await Html.RenderPartialAsync("_Footer");
    }
}

<div class="bg_gard">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase welcome">Регистрация</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-9 col-11 all_border m-5" style="border-radius: 15px;">
            <div class="row text-center">
                <div class="col-12 mt-3">
                    <h2 class="text-uppercase">Зарегистрироваться как</h2>
                </div>
            </div>


            <div class="row justify-content-center" id="ind">
                <form asp-action="SignInInd" asp-controller="Account" method="post" asp-antiforgery="true">


                    <div class="row text-center">
                        <div class="col-12 my-3">
                            <h2 class="text-uppercase">Физическое лицо</h2>
                        </div>
                        <div class="col-12 text-center">
                            <div class="validation text-danger mt-2" asp-validation-summary="ModelOnly"></div>
                        </div>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-11 mt-3">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="FIOreg" class="text-uppercase form-label">ФИО</label>
                                <input asp-for="FIO" type="text" id="FIOreg" class="field no-border form-input" required="required">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="telreg" class="text-uppercase form-label">Телефон</label>
                                <input asp-for="PhoneNumber" type="tel" id="telreg" class="field no-border form-input tel" required="required">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-11">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="emailReg" class="text-uppercase form-label">E-mail</label>
                                <input asp-for="Email" type="email" id="emailReg" class="field no-border form-input" required="required">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-11 mb-4">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="passwordReg" class="text-uppercase form-label">Пароль</label>
                                <input asp-for="Password" type="password" id="passwordReg"
                                       class="field_pas no-border form-input" required="required">
                                <a href="#" class="password-control mb-1" onclick="return show_hide_password(this, 'passwordReg');" style="color: #264d73">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12" id="passEr2"></div>
                        <div class="col-12" id="passEr1"></div>
                        <div class="col-12" id="passEr6"></div>
                        <div class="col-12" id="passEr3"></div>
                        <div class="col-12" id="passEr4"></div>
                        <div class="col-12" id="passEr5"></div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-11 mb-4">
                            <div class="form-group vmp_form-group form_box_agm_top">
                                <label for="passwordReg2" class="text-uppercase form-label">Подтвердить пароль</label>
                                <input asp-for="PasswordConfirm" type="password" id="passwordReg2"
                                       class="field_pas no-border form-input" required="required">
                                <a href="#" class="password-control mb-1" onclick="return show_hide_password(this, 'passwordReg2');" style="color: #264d73">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary btn-lg m-3" id="regBtn">Зарегистрироваться</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}