@model Consignment

@{
    ViewData["Title"] = "Настройки";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu_Main {
    @{
        await Html.RenderPartialAsync("_MenuUserLk");
    }
}

@section Footer {
    @{
        await Html.RenderPartialAsync("_Footer");
    }
}

<div class="bg_gard">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase welcome">Настройки</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="" class="" name="form">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h3>Изменить данные по умолчанию</h3>
            </div>
        </div>
        <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
            <div class="col-lg-1 col-md-12 justify-content-center align-items-center">
                <h4 class="mailer text_color text-uppercase text-center">Данные <br>по умолчанию</h4>
            </div>
            <div class="col-11">
                <div class="">
                    <div class="form-group vmp_form-group form_box_top">
                        <label for="nameInvoice" class="text-uppercase form-label">ФИО</label>
                        <input asp-for="Info.FIO1" type="text" id="nameInvoice" class="field no-border form-input"
                               placeholder="Иванов Иван Иванович">
                    </div>
                    <div class="form-group vmp_form-group form_box">
                        <label for="companyInvoice" class="text-uppercase form-label">Компания</label>
                        <input asp-for="Info.CompName1" type="text" id="companyInvoice" class="field no-border form-input"
                               placeholder="ООО Колобки">
                    </div>
                    <div class="form-group vmp_form-group form_box">
                        <label for="AdrName" class="text-uppercase form-label">Адрес</label>
                        <input asp-for="Adr1.AdrName" type="text" id="AdrName" class="field no-border form-input"
                               placeholder="Введите адрес до дома">
                    </div>
                    <div class="form-group vmp_form-group form_box">
                        <label for="Country" class="text-uppercase form-label">Страна</label>

                        <input id="Lat" asp-for="Adr1.Lat" type="hidden"/>
                        <input id="Lon" asp-for="Adr1.Lon" type="hidden"/>
                        <input id="Qc" asp-for="Adr1.Qc" type="hidden"/>
                        <input id="Settlement" asp-for="Adr1.Settlement" type="hidden"/>
                        <input id="SettlementWithType" asp-for="Adr1.SettlementWithType" type="hidden"/>
                        <input asp-for="Adr1.Region" type="hidden" id="Region"/>
                        <input asp-for="Adr1.RegionWithType" type="hidden" id="RegionWithType"/>
                        <input asp-for="Adr1.RegionISOCode" type="hidden" id="RegionISOCode"/>
                        <input asp-for="Adr1.Country" readonly="readonly" class="field no-border form-input" id="Country"/>
                        <input asp-for="Adr1.CountryISOCode" type="hidden" id="CountryISOCode"/>
                        <input asp-for="Adr1.PostalCode" type="hidden" id="PostalCode"/>
                        <input asp-for="Adr1.City" type="hidden" id="City"/>
                        <input asp-for="Adr1.CityWithType" type="hidden" id="CityWithType"/>
                        <input asp-for="Adr1.CapitalMarker" type="hidden" id="CapitalMarker"/>
                        <input asp-for="Adr1.Street" type="hidden" id="Street"/>
                        <input asp-for="Adr1.StreetWithType" type="hidden" id="StreetWithType"/>
                        <input asp-for="Adr1.House" type="hidden" id="House"/>
                        <input asp-for="Adr1.Block" type="hidden" id="Block"/>
                        <input asp-for="Adr1.AdrFull" type="hidden" id="AddrCorrect"/>

                    </div>
                    <div class="row gx-0">
                        <div class="col-lg-7">
                            <div class="form-group vmp_form-group form_box_bot">
                                <label for="offNum" class="text-uppercase form-label">Номер офиса/квартиры</label>
                                <input asp-for="Info.Office1" type="text" id="offNum" class="field no-border form-input"
                                       placeholder="96">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group vmp_form-group form_box_bot_right">
                                <label for="Invoicephone_num" class="text-uppercase form-label">Телефон</label>
                                <input asp-for="Info.Tel1" type="tel" id="Invoicephone_num" class="field no-border form-input tel"
                                       placeholder="+7 (499) 678 5000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary btn-lg m-5">Сохранить</button>
            </div>
        </div>
    </form>


    <div class="row mt-4">
        <div class="col-12 text-center">
            <h3>Изменить пароль</h3>
        </div>
    </div>
    <form action="">
        <div class="row align-items-center justify-content-center all_border mt-5 mb-3">
            <div class="col-6 my-3">
                <div class="form-group vmp_form-group form_box_agm_top">
                    <label for="newPas" class="text-uppercase form-label">Новый пароль</label>
                    <input type="password" minlength="6" maxlength="20" id="newPas" class="field_pas no-border form-input">
                    <a href="#" class="password-control mb-1" onclick="return show_hide_password(this, 'newPas');" style="color: #264d73">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-6 my-3">
                <div class="form-group vmp_form-group form_box_agm_top">
                    <label for="oldPas" class="text-uppercase form-label">Старый пароль</label>
                    <input type="password" minlength="6" maxlength="20" id="oldPas" class="field_pas no-border form-input">
                    <a href="#" class="password-control mb-1" onclick="return show_hide_password(this, 'oldPas');" style="color: #264d73">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary btn-lg m-5">Сохранить</button>
            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
<script src="~/js/addressSug.js"></script>
<script src="~/js/phoneMask.js"></script>
<script src="~/js/showHidePass.js"></script>