@model Address

<section class="sec" id="calc">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="text-uppercase">Экспресс-расчет</h2>
            </div>
        </div>
        <form method="post">
            <input id="Lat" asp-for="Lat" type="hidden"/>
            <input id="Lon" asp-for="Lon" type="hidden"/>
            <input asp-for="Region" type="hidden" id="Region"/>
            <input asp-for="RegionWithType" type="hidden" id="RegionWithType"/>
            <input asp-for="RegionISOCode" type="hidden" id="RegionISOCode"/>
            <input asp-for="Country" type="hidden" id="Country"/>
            <input asp-for="CountryISOCode" type="hidden" id="CountryISOCode"/>
            <input asp-for="PostalCode" type="hidden" id="PostalCode"/>
            <input asp-for="City" type="hidden" id="City"/>
            <input asp-for="CityWithType" type="hidden" id="CityWithType"/>
            <input asp-for="CapitalMarker" type="hidden" id="CapitalMarker"/>
            <input asp-for="Street" type="hidden" id="Street"/>
            <input asp-for="StreetWithType" type="hidden" id="StreetWithType"/>
            <input asp-for="House" type="hidden" id="House"/>
            <input asp-for="Block" type="hidden" id="Block"/>
            <input type="hidden" id="AddrCorrect"/>


            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <p class="">Расчитайте стоимость доставки посылки до пункта назначения</p>

                    <div class="form-group vmp_form-group form_box_agm_top">
                        <label for="AdrName" class="text-uppercase form-label">Адрес доставки</label>
                        <input type="text" asp-for="AdrName" id="AdrName" class="field no-border form-input AdrName">
                    </div>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="form-group vmp_form-group form_box_agm_top">
                        <label for="weightEx" class="text-uppercase form-label">Вес</label>
                        <input type="number" id="weightEx" class="field no-border form-input">
                    </div>

                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-md-6 col-sm-12 m-3">
                    <button href="" class="btn btn-outline-primary btn-lg">
                        Расчитать
                        >
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>