<div class="row justify-content-center p-4 text-center mt-5" style="color: white;">
    <div class="col-lg-3 col-10">
        <h3>Контакты</h3>
        <a href="" class="text-decoration-none ft_col">+7 499 678 50 00</a>
        <br><a href="mailto:info@spexpress.ru" class="text-decoration-none ft_col">info@spexpress.ru</a>
        <br>
        <p class="ft_col">Москва, Загородное шоссе, 1к2</p>
    </div>
    <div class="col-lg-3 col-10">
        <h3>Документы</h3>
        <a href="../img/услуги.pdf" target="_blank" class="text-decoration-none ft_col">Руководство по
            услугам</a>
        <br><a href="../img/dogovor.pdf" target="_blank" class="text-decoration-none ft_col">Пример
            договора</a>
        <br><a href="" class="text-decoration-none ft_col" data-toggle="modal" data-target="#contract">Заключить
            договор</a>
    </div>
    <div class="col-lg-3 col-10">
        <h3>Обратная связь</h3>
        <a href="" class="text-decoration-none ft_col" data-toggle="modal" data-target="#call">Заказать обратный
            звонок</a>
        <br><a href="" class="text-decoration-none ft_col" data-toggle="modal" data-target="#letter">Письмо
            руководству</a>
    </div>
</div>